@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&family=Young+Serif&display=swap');
@import "tailwindcss";

@theme{
    --font-youngserif: "Young Serif", serif;
    --font-outfit: "Outfit", sans-serif;
}